.feature{ 
    position: "absolute" ;
     width:50px;
     height:500px;
    }

    .container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.particleContainer {
    width: 500px;
    height: 500px;
    z-index: 1;
}

.deerImage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    pointer-events: none; /* Allows clicks to pass through */
}

.message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    color: white;
    text-align: center;
}